@model Order
@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col s6 offset-s3">
        <div class="card" style="padding:5px;">
            <div class="card-title">
                <h4>Are you sure to delete this?</h4>
            </div>
            <div class="card-content">
                <div>
                    <h5>Order Date: @Model.OrderDate.ToString("dd-MM-yyyy")</h5>
                </div>
                <div>
                    <h5>Customer Name: @Model.CustomerName</h5>
                </div>
                <div>
                    <h5>Customer Phone: @Model.CustomerPhone</h5>
                </div>
                <div>
                    <h5>Customer Email: @Model.CustomerEmail</h5>
                </div>
                <div>
                    <h5>Product Model: @Model.Product.ProductModel</h5>
                </div>
                <div>
                    <h5>Address: @Model.Address</h5>
                </div>
            </div>
            <div class="card-action">
                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="OrderId" />
                    <button type="submit" class="btn btn-small red">Delete</button>
                </form>
            </div>
            <div class="row">
                <div class="col s6">
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>