@model Product
@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col s6 offset-s3">
        <div class="card" style="padding:5px;">
            <div class="card-title">
                <h4>Are you sure to delete this?</h4>
            </div>
            <div class="card-content">
                <div>
                    <img src="@Model.Picture" width="40" />
                </div>
                <div>
                    <h5>Model: @Model.ProductModel</h5>
                </div>
                <div>
                    <h5>Price: @Model.ProductPrice.ToString("0.00")</h5>
                </div>
                <div>
                    <h5>Category: @Model.Category.CategoryName</h5>
                </div>
                <div>
                    <h5>Status: @(Model.Status ? "Available" : "Not-Availabe")</h5>
                </div>
            </div>
            <div class="card-action">
                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="ProductId" />
                    <button type="submit" class="btn btn-small red">Delete</button>
                </form>
            </div>
            <div class="row">
                <div class="col s6">
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
